* {
    margin: 0;
    padding: 0;
}

.card {
    height: 150px;
    background-color: black;
    width: 60vw;
    border-radius: 15px;
    display: flex;
    gap: 25px;
    margin: 10px;
    position: relative;
}

.card:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.img {
    border-radius: 5px;
    height: 125px;
    width: 200px;
    margin: 10px;
}

.thumbnail {
    position: relative;
    height: 125px;
    width: 200px;
}

.duration {
    background-color: rgba(42, 42, 42, 0.919);
    color: white;
    height: 25px;
    width: 50px;
    position: absolute;
    bottom: 1px;
    right: 1px;
    font-size: 15px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.other-info {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.small-info {
    margin-top: 10px;
    font-size: 15px;
    display: flex;
    gap: 10px;

}
.delete-button{
     background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    right: 15px;
    top: 10px;
}